body ,.menuzord, .menuzord *,h5, h6, p {
    font-family: Tajawal;
}


.pull-left.flip {
    float: left !important;
}



.menuzord-menu > li{
    float: right !important;
}


.menuzord-menu > li > a{
    font-size: 16px;
}

/*.tp-parallax-wrap{*/
/*    position: relative !important;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    left: 0 !important;*/
/*    top: 0 !important;*/
/*    !*right: 30%;*!*/
/*}*/
/*.tp-loop-wrap{*/
/*    position: relative !important;*/
/*    width: 100% !important;*/
/*    text-align: center;*/
/*    max-height: 150px;*/

/*}*/

/*.tp-mask-wrap{*/
/*    position: relative !important;*/
/*    width: 100% !important;*/
/*    text-align: center;*/

/*    margin: 25px 0 ;*/
/*}*/

.tp-caption{
    height: 70px;
}


.about-content-wrapper , .float-rtl-left{
    float: left !important;
}
.about-p {
    line-height: 75px;
}


.icon-box .pull-left{
    float: right !important;
}
.icon-box.left a {
     margin-right: 0 !important;
}


/*.img-title {*/
/*     margin-top: 0 !important;*/
/*    top: 50px;*/
/*}*/


#products .section-content, #gallery .section-content, #partners .section-content{
    direction: ltr !important;
}

.owl-controls .owl-next{
    right: 0 !important;
    left: auto !important;
}


.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute {
    right: -30px !important;
    left: auto !important;
}


#contact .text-left{
    text-align: right;
}


.contact-us-form{
    float: right !important;
}

.form-wrapper{
    float: left;
}

#contact .form-group label {
    margin-right: 20px;
}


.footer-nav .text-left{
    text-align: right !important;
}
@media only screen and (max-width: 768px){
    #contact .text-left {
        text-align: center;
    }
}



/*
--------------------------
Offer Page
--------------------------
 */

select.minimal {
    background-position: calc(100% - 94%) calc(1em + 5px), calc(100% - 92%) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
}
select.minimal:focus {
    background-position: calc(100% - 92%) 1em,
    calc(100% - 94%) 1em,
    calc(100% - 2.5em) 0.5em;
}


label[for="photo"] {
    float: left;
    margin-left: 0%;
    margin-top: -45px;
}

