body ,.menuzord, .menuzord *,h5, h6, p {
    font-family: Tajawal;
}


.pull-left.flip {
    float: left !important;
}



.menuzord-menu > li{
    float: right !important;
}


.menuzord-menu > li > a{
    font-size: 16px;
}

/*.tp-parallax-wrap{*/
/*    position: relative !important;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    left: 0 !important;*/
/*    top: 0 !important;*/
/*    !*right: 30%;*!*/
/*}*/
/*.tp-loop-wrap{*/
/*    position: relative !important;*/
/*    width: 100% !important;*/
/*    text-align: center;*/
/*    max-height: 150px;*/

/*}*/

/*.tp-mask-wrap{*/
/*    position: relative !important;*/
/*    width: 100% !important;*/
/*    text-align: center;*/

/*    margin: 25px 0 ;*/
/*}*/

.tp-caption{
    height: 75px;
}


.about-content-wrapper , .float-rtl-left{
    float: left !important;
}
.about-p {
    padding-top: 5px;
    line-height: 50px;
}


.icon-box .pull-left{
    float: right !important;
}
.icon-box.left a {
     margin-right: 0 !important;
}


/*.img-title {*/
/*     margin-top: 0 !important;*/
/*    top: 50px;*/
/*}*/
.sec_3{
    direction: rtl;
}

#products .section-content, #gallery .section-content, #partners .section-content{
    direction: ltr !important;
}

.owl-controls .owl-next{
    right: 0 !important;
    left: auto !important;
}


.blog-posts .post.style1 .entry-header .entry-date.entry-date-absolute {
    right: -30px !important;
    left: auto !important;
}


#contact .text-left{
    text-align: right;
}


.contact-us-form{
    float: right !important;
}

.form-wrapper{
    float: left;
}

#contact .form-group label {
    margin-right: 20px;
}


.footer-nav .text-left{
    text-align: right !important;
}
.footer-designedBy{
    float: left !important;
}
@media only screen and (max-width: 768px){
    #contact .text-left {
        text-align: center;
    }
}

@media only screen and (max-width: 1400px){

    .main-info p{
        font-size: 28px;
    }

    #goals .sub-section-underline{
        width: 110px;
    }

    .about-content .sub-section-underline{
        width: 240px;
    }
    label[for="photo"] {
        margin-top: -40px;
        padding: 5px 15px;
    }
}
.img-title h5 {
    font-size: 18px;
}



/*
--------------------------
Offer Page
--------------------------
 */

select.minimal {
    background-position: calc(100% - 94%) calc(1em + 5px), calc(100% - 92%) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
}
select.minimal:focus {
    background-position: calc(100% - 92%) 1em,
    calc(100% - 94%) 1em,
    calc(100% - 2.5em) 0.5em;
}


label[for="photo"] {
    float: left;
    margin-left: 10%;
    margin-top: -45px;
}

#filename{
    float: right !important;
}
